---
import Layout from "../../layouts/MainLayout.astro";
import CardEditor from "../../components/CardEditor";
---

<Layout title="Edytuj wizytówkę - Cultura">
  <div class="container mx-auto py-8">
    <h1 class="text-2xl font-bold mb-6">Edytuj wizytówkę</h1>
    <CardEditor isNewCard={false} client:load />
  </div>
</Layout>
