---
export const prerender = false;
---

<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/card" />
  </head>
  <body>
    <p>Redirecting to <a href="/card">/card</a>...</p>
  </body>
</html>
