---
import Layout from "../layouts/MainLayout.astro";
import { LoginForm } from "../components/auth/LoginForm";
---

<Layout title="Logowanie - Cultura">
  <div class="container mx-auto py-8">
    <LoginForm client:load />
  </div>
</Layout>
